 .pokemon-container1{
    background-color: cadetblue;
    transform: scale(1.30);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    text-align: center;
 }
.pokemon-card1{
    background-color: rgb(138, 214, 189);
    border: 3px solid   rgba(179, 241, 238, 0.918);
    border-radius: 10px;
  background: linear-gradient(to right, #5fdfff, #c2e1eb,#5fdfff);
   
}

.pokemon-card1 img{

    background-image: url("../../assets/fundopopplio.png");/* chamando imagem e cortando ela */
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}
