.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-card{
    border:5px solid #fac342;
  align-items: center;
  background:#f96943;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(#f96943, #fac342, white, )
}

.pokemon-container{
  transform: scale(1.30);
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  text-align: center;
  
}

.App{
  text-align: center;
  align-items: center;
  
}